@model Trucks.Crosscutting.ViewModels.TruckViewModelDetails

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h4>Delete Truck</h4></div>
            <div class="card-body">
                <h5>Are you sure you want to delete this?</h5>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Color)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Color)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TruckModel)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TruckModel.Name)
                    </dd class>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ManufactureYear)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ManufactureYear)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ModelYear)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ModelYear)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedDate)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <div class="row col-md-6">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</button>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-outline-secondary" asp-controller="Truck" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
